
##############################################
#                                            #
#  Config file for Bayesian                  #
#                                            #
##############################################

#set all the parameters of your analysis
#IMPORTANT: don't leave spaces after the parameters!

	
##########################################
# input/output
##########################################

# This contains the data spectrum which will be analysed
# Value overwritten if use Run_SearchPhase.py
inputFileName ./inputs/Data15_C_fGRL_JetCalibCorrection_20150721/dataHistograms.PeriodC.root

# Value overwritten if use Run_SearchPhase.py
dataHist Nominal/mjj_Data_PeriodC_0p072fb

# Value overwritten if use Run_SearchPhase.py
outputFileName ./results/Step1_SearchPhase/Data15_C_fGRL_JetCalibCorrection_20150721/Step1_SearchPhase_mjj_Data_PeriodC_0p072fb.root

##########################################
# general
##########################################

# Center-of-mass energy of the spectrum studied
# Value overwritten if use Run_SearchPhase.py
Ecm        13000.0 

# Number of pseudoexperiments to run
# Matches 8 TeV paper value
nPseudoExp 10000

##########################################
# fitting
##########################################

# To use min of data put -1 (Use 1099 so fit starts from bin above, i.e. from 1100 GeV)
minXForFit       200 

# use default: maximum of data
#maxXForFit       -1   
maxXForFit       1500

# 13 TeV 3 param fit function:
functionCode		4
nParameters 		4

# 9.5 inv fb Scaled
parameter1 0.43279e-06
parameter2 3.43875
parameter3 6.57409
parameter4 0.497491

# 13 TeV 4 param fit function:
doAlternateFunction     true
alternateFunctionCode	7
alternateNParameters	5

# 9.5 inv fb Scaled
altparameter1 8.11608e-08
altparameter2 -3.67466
altparameter3 9.6012
altparameter4 1.17837
altparameter5 0.0532702

doPValWithSysts		false

doPEOnData		true
