##########################################
#sensitivty scan config file
##########################################

#NOTE: don't leave spaces after the parameters

signalModel		Gauss
signalModelLabel	'Gauss'
#signalModel		QStar
#signalModelLabel	"q*"
#signalMasses		2000,2500,3000,3500,4000,4500,5000,5500,6000,6500,7000
#signalMasses		2000,3000,4000,5000,6000,7000
signalMasses		450,550,650,750,850,950,1050

luminosityMin		1
luminosityMax		100.0

QCDFile			../inputs/QCD/histograms.mc.QCD.lowmjj.1p0.ifb.root
#QCDFile			../inputs/QCD/TLAdata16periodF.root
patchFile    ../data/searchPhase.patch.1p0.ifb.lowmjj_OnlyTesting.root

#histBaseName		mjj
histBaseName   mjj_Gauss
#bTaggingWP		fix_8585
axisLabel		m_{jj} [GeV]

nFitParameters		3
nPseudoExperiments	100

thresholdMass		600
randomSeed		0

notes			Pythia
