##########################################
#sensitivty scan config file
##########################################

#NOTE: don't leave spaces after the parameters

signalModel		Gauss_width20
signalModelLabel	'Gauss_width20'
#signalModel		QStar
#signalModelLabel	"q*"
#signalMasses		2000,2500,3000,3500,4000,4500,5000,5500,6000,6500,7000
#signalMasses		2000,3000,4000,5000,6000,7000
#signalMasses		550,650,750,850,950,1050,1150,1250,1350,1450
#signalMasses		550,650,750,850,950,1050,1250,1450,1650,1850
#signalMasses		550,650,1450
signalMasses		620

luminosityMin		500.0
luminosityMax		500.0
#luminosityMax		45.0

#this is just to remove a warning that the file is not there
QCDFile      ../inputs/QCD/NLO_yStar_06_29p7ifb_forSig.root
patchFile    ../inputs/QCD/patchFile_pureNLO_SWiFTwindow4.root

histBaseName            mjj_Gauss
axisLabel		m_{jj} [GeV]

nFitParameters		4
nPseudoExperiments	100

thresholdMass   523
#tresholdMass   531          #HANNO: used for TLA2016 data
#thresholdMass		460      #HANNO: used for TLA2015 data
#thresholdMass		502    #HANNO: used for NLO2015
randomSeed	102

#notes       Pseudodata
notes       MC15 Pythia NLO
permitWindowExcl   0
