##########################################
#sensitivty scan config file
##########################################

#NOTE: don't leave spaces after the parameters

signalModel        Gauss_width7
signalModelLabel    'Gauss_width7'
signalMasses         675, 700, 725

#675, 725

#, 650 
#%, 1050, 1750, 1850

#, 1050, 1750, 1850

#650: 65
#overridden
luminosityMin        1.0
luminosityMax        1.0

QCDFile      ../inputs/QCD/NLO_yStar_06_29p7ifb_forSig.root
patchFile    ../inputs/QCD/patchFile_pureNLO_SWiFTwindow4.root

histBaseName            mjj_Gauss
axisLabel        m_{jj} [GeV]

nFitParameters        4
nPseudoExperiments    2000

thresholdMass   531
randomSeed    401

notes       NLO2016plusSig
permitWindowExcl   1