##########################################
#sensitivty scan config file
##########################################

#NOTE: don't leave spaces after the parameters

signalModel		Gauss_width7
signalModelLabel	'Gauss_width7'
#signalModel		QStar
#signalModelLabel	"q*"
#signalMasses		2000,2500,3000,3500,4000,4500,5000,5500,6000,6500,7000
#signalMasses		2000,3000,4000,5000,6000,7000
#signalMasses		550,650,750,850,950,1050,1150,1250,1350,1450
#signalMasses		550,650,750,850,950,1050,1250,1450,1650,1850
#signalMasses		550,650,1450
signalMasses		650

luminosityMin		170.0
luminosityMax		170.0
#luminosityMax		24.0

#QCDFile		   ../inputs/QCD/histograms.mc.QCD.lowmjj.1p0.ifb.root
#patchfile		 ../inputs/QCD/histograms.mc.QCD.lowmjj.1p0.ifb.root
#QCDFile                 ../data/searchPhase.patch.1p0.ifb.lowmjj_OnlyTesting_2.root
#QCDFile			../inputs/QCD/TLAdata16periodF.root
#patchFile               ../data/searchPhase.patch.1p0.ifb.lowmjj_OnlyTesting_2.root

##FOR 2015 file:
#QCDFile                 ../inputs/QCD/histograms.mc.QCD.lowmjj.3p4.ifb.scaled.Bkg.root
#patchFile               ../inputs/QCD/histograms.mc.QCD.lowmjj.3p4.ifb.scaled.Bkg.root

#QCDFile                 ../inputs/QCD/histograms.mc.QCD.lowmjj.1p0.ifb.root

#QCDFile                 ../inputs/QCD/MC15.QCD.3p5ifb.BkgFrom4Param.462fmin.1614fmax.OnlyLastBinSqrtNerr.root
#patchFile               ../inputs/QCD/MC15.QCD.3p5ifb.BkgFrom4Param.462fmin.1614fmax.OnlyLastBinSqrtNerr.root

##FOR 2015 file scaled for 2016 lumi:

#QCDFile                 ../inputs/QCD/MC15.QCD.29p7ifb.BkgFrom4Param.522fmin.2014fmax.SqrtNerrs.root
#QCDFile                 ../inputs/QCD/MC15.QCD.29p7ifb.BkgFrom4Param.522fmin.2014fmax.OnlyLastBinSqrtNerr.root
#patchFile               ../inputs/QCD/MC15.QCD.29p7ifb.BkgFrom4Param.522fmin.2014fmax.SqrtNerrs.root


#QCDFile                 ../inputs/QCD/MC15.QCD.29p7ifb.BkgFrom4Param.500fmin.3000fmax..OnlyLastBinSqrtNerr.root
#patchFile               ../inputs/QCD/MC15.QCD.29p7ifb.BkgFrom4Param.500fmin.3000fmax..OnlyLastBinSqrtNerr.root

#QCDFile     ../inputs/QCD/NLO_CT14_pure_unscaled_newErrs.root
#QCDFile     ../inputs/QCD/NLO_CT14_pure_unscaled_2ppmErrs.root
#patchFile    ../inputs/QCD/patchfile.CT14.NLO.3p4.ifb.SWiFt20.root
QCDFile      ../inputs/QCD/NLO_CT14_pure_29p7ifb_newErrs.root
patchFile    ../inputs/QCD/patchFile_pureNLO_SWiFTwindow4.root

#QCDFile      ../inputs/QCD/NLO_CT14_pure_3p5ifb_newErrs.root
#patchFile    ../inputs/QCD/patch_NLO_pure_3p5ifb_SWiFTwindow4.root

#MC15.QCD.29p7ifb.BkgFrom4Param.522fmin.2014fmax.OnlyLastBinSqrtNerr.root


#histBaseName		mjj
histBaseName            mjj_Gauss
#bTaggingWP		fix_8585
axisLabel		m_{jj} [GeV]

nFitParameters		4
nPseudoExperiments	100

thresholdMass   523
#tresholdMass   531          #HANNO: used for TLA2016 data
#thresholdMass		460      #HANNO: used for TLA2015 data
#thresholdMass		502    #HANNO: used for NLO2015
randomSeed	100

#notes       Pseudodata
notes       MC15 Pythia NLO
#notes			TLA2016 PeriodF
#notes			TLA 2015 data
permitWindowExcl   0
