##############################################
#                                            #
#  Config file for StatisticalAnalysis2012   #
#                                            #
##############################################

#set all the parameters of your analysis
#IMPORTANT: don't leave spaces after the parameters!

	
##########################################
# input/output
##########################################

# This contains the data spectrum which will be analysed
inputFileName	  /afs/cern.ch/work/k/kpachal/StatisticalAnalysis/Bayesian/results/Step1_SearchPhase/Data15_A4_20150623/Step1_SearchPhase_mjj_Data_PeriodA4_0p007fb.root

dataHist          basicData

# This output file will then be an input to the limit setting phase
outputFileName	  /afs/cern.ch/work/k/kpachal/StatisticalAnalysis/Bayesian/results/GaussianLimits/Data15_A4_20150623/GenericGaussians

##########################################
# general
##########################################

# Center-of-mass energy of the spectrum studied
Ecm		  13000.0

# Resolution file for when that is required width
#resolutionFile    /home/pachal/oxfordDijets/statisticsCode/PDFConvolutionStudies/data/resolution_yCut.root

# Instead of a resolution file we have a function
# If no file specified code will look for 6 parameters.
# Currently using high mass dijet resolution

respar1		0.0488777
respar2		-2.92624e-05
respar3		1.39116e-08
respar4		-3.69195e-12
respar5		5.48313e-16
respar6		-4.24416e-20
respar7		1.33082e-24

# Do we use BW from file for this?
useBW		  false

# Set density of points appropriate for 13 TeV.
#startPoints       200
startPoints       150
stopDensePoints   800
stopMediumPoints  1000 
stopPoints        1500 

##########################################
# fitting
##########################################

#minXForFit       200
minXForFit       300
maxXForFit       1500

# 13 TeV 3 param Fit function:
# this will be nominal function for now.

functionCode      4
nParameters       4

# 15.45 inv fb Data new fit range
parameter1 1.06007e-05
parameter2 2.48271
parameter3 7.10357
parameter4 0.582337

# 13 TeV 4 param fit function:
# this will be the alternate function for now.

doAlternateFunction     false
alternateFunctionCode	7
alternateNParameters	5

# 15.45 inv fb Data new fit range
altparameter1 0.000265711
altparameter2 7.44956
altparameter3 5.08517
altparameter4 0.136933
altparameter5 -0.0340931

##########################################
# for limits
##########################################

doExtendedRange false

nSigmas           3.

##########################################
# Background
##########################################

doFitError        false

nFitsInBkgError   100

##########################################
# Lumi
##########################################

doLumiError       false

# 2.9% lumi error 
luminosityErr	  0.029

##########################################
# JER
##########################################

doJERError       false
# 2% JER error 
JERErr	         0.02

##########################################
# JES
##########################################

doJES             false

doVarJES	  false

nJES              25

sigmaJESShift	  0.021


##########################################
# Function choice
##########################################

doFitFunctionChoiceError  false

