
##############################################
#                                            #
#  Config file for Bayesian                  #
#                                            #
##############################################

#set all the parameters of your analysis
#IMPORTANT: don't leave spaces after the parameters!

	
##########################################
# input/output
##########################################

# This contains the data spectrum which will be analysed
# Value overwritten if use Run_SearchPhase.py
inputFileName ./inputs/Data15_C_fGRL_JetCalibCorrection_20150721/dataHistograms.PeriodC.root

#inputHistDir Nominal/

# Value overwritten if use Run_SearchPhase.py
dataHist Nominal/mjj_Data_PeriodC_0p072fb

# Value overwritten if use Run_SearchPhase.py
outputFileName ./results/Step1_SearchPhase/Data15_C_fGRL_JetCalibCorrection_20150721/Step1_SearchPhase_mjj_Data_PeriodC_0p072fb.root

##########################################
# general
##########################################

# Center-of-mass energy of the spectrum studied
# Value overwritten if use Run_SearchPhase.py
Ecm        13000.0 

# Number of pseudoexperiments to run
# in BumpHunter
# Matches 8 TeV paper value
nPseudoExp  1

permitWindow	false

##########################################
# fitting
##########################################

# To use min of data put -1 (Use 1099 so fit starts from bin above, i.e. from 1100 GeV)
minXForFit   300

# use default: maximum of data
maxXForFit   1500

# Number of pseudoexperiments
# to run in fit
nPseudoExp  1

# 13 TeV 3 param fit function:
functionCode  1
nParameters  4
functionCode  1
nParameters  4

# For Period D 80.4/pb
#parameter1 0.00021675
#parameter2 3.18705
#parameter3 7.11991
#parameter4 0.294323
#parameter5 0


parameter1 2114090.3221715163
parameter2 -0.10249143346059597
parameter3 110.96753410590006
parameter4 -41.90626047681503
#parameter1 45278853.529076785
#parameter2 -0.7448930023775144
#parameter3 143.3127106317749
#parameter4 -223.3212460681784


# 13 TeV 4 param fit function:
doAlternateFunction     false
alternateFunctionCode  4
alternateNParameters  4

# For Period D 80.4/pb
altparameter1   0.00021675
altparameter2   3.18705
altparameter3   7.11991 
altparameter4   0.294323
altparameter5   0

# SWIFT
doSwift true
doExtraSwiftChecks       true
doExtraPreliminaryFits  false
swift_minXAvailable   300
swift_maxXAvailable   7500
swift_nBinsLeft  10
swift_nBinsRight  10
swift_fixLow  true
swift_fixHigh  true
swift_truncateHigh       false

doPValWithSysts		false

doPEOnData              false

doSideBandFit		false
