##############################################
#                                            #
#  Config file for StatisticalAnalysis2012   #
#                                            #
##############################################

#set all the parameters of your analysis
#IMPORTANT: don't leave spaces after the parameters!


##########################################
# input/output
##########################################

# This contains the data spectrum which will be analysed
inputFileName	  /afs/cern.ch/work/k/kpachal/StatisticalAnalysis/Bayesian/results/Step1_SearchPhase/Data15_A4_20150623/Step1_SearchPhase_mjj_Data_PeriodA4_0p007fb.root

dataHist          basicData

# This output file will then be an input to the limit setting phase
outputFileName	  /afs/cern.ch/work/k/kpachal/StatisticalAnalysis/Bayesian/results/GaussianLimits/Data15_A4_20150623/GenericGaussians

##########################################
# general
##########################################

# Center-of-mass energy of the spectrum studied
Ecm		  13000.0

# Resolution file for when that is required width
#resolutionFile    /home/pachal/oxfordDijets/statisticsCode/PDFConvolutionStudies/data/resolution_yCut.root
#resolutionFile    /cluster/warehouse/kpachal/TLA2016/StatisticalAnalysisSidebandFits/Bayesian/inputs/2_resolution.root
#resolutionFile    /home/beresford/TLA/StatisticalAnalysis/Bayesian/inputs/stuffForLimitKindPeople/2_resolution.root
# Instead of a resolution file we have a function
# If no file specified code will look for 6 parameters.
respar1		0.0488777
respar2		-2.92624e-05
respar3		1.39116e-08
respar4		-3.69195e-12
respar5		5.48313e-16
respar6		-4.24416e-20
respar7		1.33082e-24

# Do we use BW from file for this?
useBW		  false

# Set density of points appropriate for 13 TeV.
startPoints       1000
stopDensePoints   2000
stopMediumPoints  4000
stopPoints        7500

##########################################
# fitting
##########################################

minXForFit       1100 # use default: min of data
#maxXForFit       1236

# 13 TeV 3 param Fit function parameters (from Jeff's code):
# this will be nominal function for now.
functionCode		9
nParameters 		3

#parameter1 0.0293913
#parameter2 8.64761
#parameter3 -5.16594
parameter1 0.183438
parameter2 8.14008
parameter3 -5.21919

# 13 TeV 4 param Fit function parameters (from Jeff's code):
# this will be the alternate function for now.
doAlternateFunction     true
alternateFunctionCode	4
alternateNParameters	4
altparameter1 0.0163676
altparameter2 8.406
altparameter3 5.22183
altparameter4 -0.00169401

##########################################
# for limits
##########################################

doExtendedRange false

nSigmas           3.

##########################################
# Background
##########################################

doFitError        true

nFitsInBkgError   100

##########################################
# Lumi
##########################################

doLumiError       true

#0.05 for ichep, 0.041 for 37.4 inv fb
luminosityErr     0.041

##########################################
# JES
##########################################

doJES             true

doVarJES	  true

nJES              25

#sigmaJESShift	  0.03
JESFile		  /afs/cern.ch/work/r/rhankach/workDir/jet_exotic/StatisticalAnalysis/Bayesian/share/outWidths.root

##########################################
# Function choice
##########################################

doFitFunctionChoiceError  true
