##############################################
#                                            #
#  Config file for Bayesian                  #
#                                            #
##############################################

#set all the parameters of your analysis
#IMPORTANT: don't leave spaces after the parameters!

##########################################
# input/output
##########################################

# Value overwritten if use Run_SearchPhase.py
inputFileForm ./results/Step2_setLimitsOneMassPoint/Data15_C_fGRL_JetCalibCorrection_20150721/Step2_setLimitsOneMassPoint_QBH0%d_0p072fb.root

# Value overwritten if use Run_SearchPhase.py
outputFileName ./results/Step3_LimitSettingPhase/Data15_C_fGRL_JetCalibCorrection_20150721/Step3_LimitSettingPhase_QBH0_0p072fb.root

#
##########################################
# general
##########################################

# Luminosity in pb
# Value overwritten if use Run_SearchPhase.py
luminosity	72

# Mass points 
nSplitPatterns          1

nMasses1        	9
nSplits1              	1
split1mass0             4500
split1mass1             5000
split1mass2             5500
split1mass3             6000
split1mass4             6500
split1mass5             7000
split1mass6             7500
split1mass7             8000
split1mass8             8500
