##############################################
#                                            #
#  Config file for Bayesian                  #
#                                            #
##############################################

#set all the parameters of your analysis
#IMPORTANT: don't leave spaces after the parameters!

	
##########################################
# input/output
##########################################

# This input to limit setting phase must be an output from the search phase
# Value overwritten if use Run_SearchPhase.py
dataFileName /lustre/SCRATCH/atlas/ywng/WorkSpace/r21/r21-Old/source/Bayesian/results/Step1_SearchPhase/test_dijet_g150_2j25/Step1_SearchPhase_Zprime_mjj_var.root

dataHist          basicData

# Value overwritten if use Run_SearchPhase.py
signalFileName /lustre/SCRATCH/atlas/ywng/WorkSpace/r21/r21Rebuild/input/Chopped_Ph100_ZPrimemR%d_gSM0p3.root

# Value overwritten if use Run_SearchPhase.py

#nominalSignalHist mjj_ZPrimemR%d_1fb_Nominal
nominalSignalHist dijetgamma_g85_2j65/Zprime_mjj_var
# Value overwritten if use Run_SearchPhase.py
outputFileName /lustre/SCRATCH/atlas/ywng/WorkSpace/r21/r21SwiftNew/r21StatisticalAnalysis/source/results/Step2_setLimitsOneMassPoint/test_dijet_g150_2j25/Step2_setLimitsOneMassPoint_JDMPh100_Zprime0p3400_35p45fb.root

# Put LogFiles in this folder
# Value overwritten if use Run_SearchPhase.py
plotDirectory /lustre/SCRATCH/atlas/ywng/WorkSpace/r21/r21SwiftNew/r21StatisticalAnalysis/source/LogFiles/test_dijet_g150_2j25/Step2_setLimitsOneMassPoint/BATPlots//

# If you want to keep the BAT output plots with a distinguishable name, specify it here
plotNameExtension JDMPh100_Zprime0p3/

# Name of signal for retrievals etc
signame JDMPh100_Zprime0p3/

##########################################
# general
##########################################

# Value overwritten if use Run_SearchPhase.py
Ecm		  13000.0

#minXForFit       200 
minXForFit       300
maxXForFit       1500

# 13 TeV 3 param fit function:
functionCode      4
nParameters       4

# 15.45 inv fb Data new fit range
parameter1 1.06007e-05
parameter2 2.48271
parameter3 7.10357
parameter4 0.582337

doExtendedRange false

##########################################
# for limits
##########################################

nSigmas		  3.

doExpected	  true

# Lydia changed 10 to 100
nPEForExpected 100

##########################################
# Background
##########################################

doFitError	  true

nFitsInBkgError	  100

##########################################
# Lumi
##########################################

doLumiError       false
# 2.9% lumi error
luminosityErr	  0.029

##########################################
# JER
##########################################

doJERError       false
# 2% JER error 
JERErr	         0.02

##########################################
# Function choice
########################################
doFitFunctionChoiceError false

nFitFSigmas       1

# 13 TeV 4 param fit function:
alternateFunctionCode	7
alternateNParameters	5


# 15.45 inv fb Data new fit range
altparameter1 0.000265711
altparameter2 7.44956
altparameter3 5.08517
altparameter4 0.136933
altparameter5 -0.0340931

##########################################
# Beam energy systematic
##########################################

doBeam		 false

BeamFile          ./inputs/BeamUncertainty/AbsoluteBEAMUncertaintiesForPlotting.root

##########################################
# JES
##########################################

doJES		  false

##--------------------------------------##

useMatrices       false

nominalJES         #matrix_mjj_TotalUncertainty_05

nComponents       1
name1		  1

##--------------------------------------##

useTemplates      true

# Value overwritten if use Run_SearchPhase.py
nominalTemplateJES mjj_ZPrimemR%dgSM0p3_1fb_Nominal

nComponentsTemp 4 
# Value overwritten if use Run_SearchPhase.py
nameTemp1 mjj_ZPrimemR%dgSM0p3_1fb_JET_GroupedNP_1
nameTemp2 mjj_ZPrimemR%dgSM0p3_1fb_JET_GroupedNP_2
nameTemp3 mjj_ZPrimemR%dgSM0p3_1fb_JET_GroupedNP_3
nameTemp4 mjj_ZPrimemR%dgSM0p3_1fb_JET_EtaIntercalibration_NonClosure

##--------------------------------------##
# nJES is number of extensions +1 
#nJES		  3
#extension1        __1down
#extension2        __1up
nJES		  13
extension1        __3down
extension2        __2down5
extension3        __2down
extension4        __1down5
extension5        __1down
extension6        __0down5
extension7        __0up5
extension8        __1up
extension9        __1up5
extension10       __2up
extension11       __2up5
extension12       __3up
