##############################################
#                                            #
#  Config file for StatisticalAnalysis2012   #
#                                            #
##############################################

#set all the parameters of your analysis
#IMPORTANT: don't leave spaces after the parameters!

	
##########################################
# input/output
##########################################

# This contains the data spectrum which will be analysed
inputFileName	    	  /Users/urania277/ATLAS/sw/projects/20171122_SensitivityScan/SensitivityStudies/scripts/../results/signalplusbackground/signalplusbackground.Gauss_width15.500p0.ifb.mjj_Gauss.4.par.102.seed.NLO2015_29p7_sensitivityScan.root
dataHist		  mjj_Gauss_620

# This output file will then be an input to the limit setting phase
outputFileName	   	  /Users/urania277/ATLAS/sw/projects/20171122_SensitivityScan/SensitivityStudies/scripts/../results/searchphase/searchphase.Gauss_width15.620.GeV.500p0.ifb.mjj_Gauss.4.par.102.seed.NLO2015_29p7_sensitivityScan.root

##########################################
# general
##########################################

# Center-of-mass energy of the spectrum studied
Ecm		  13000.

# Number of pseudoexperiments to run
nPseudoExps	  1000

##########################################
# fitting
##########################################

minXForFit        523.0
maxXForFit	  -1

# Fit function parameters
functionCode		4
nParameters 		4
parameter1		0.00280214
parameter2		7.2046
parameter3		5.63296
parameter4		0.0571367
#parameter5
#parameter6

doAlternateFunction     false
alternateFunctionCode	4
alternateNParameters	4
