##########################################
#sensitivty scan config file
##########################################

#NOTE: don't leave spaces after the parameters

signalModel        Gauss_width15
#Gauss_width15  Gauss_width3  Gauss_width5  Gauss_width7
signalModelLabel    "Gauss_width15"
#signalMasses        450, 550, 620, 650, 675, 700, 725, 750, 775, 800
signalMasses        300, 400, 500, 600, 700, 800
#signalMasses        2000,3000,4000,5000,6000,7000
#signalMasses        2500,3500,4500,5500,6500
luminosityMin        0.0
luminosityMax        1

QCDFile            /lustre/SCRATCH/atlas/ywng/WorkSpace/r21/r21Rebuild/input/btagged/trijet_HLT_j380_inclusive.root

histBaseNameBkg       basicBkgFrom4ParamFit_fluctuated
histBaseNameSig       mjj_Gauss_sig_{0}_smooth
#bTaggingWP        fix_8585
axisLabel        m_{jj} [GeV]

nFitParameters        4
nPseudoExperiments_bkg    1000
nPseudoExperiments_withSig    1

#yvonne adding function code
functionCode         1

thresholdMass        200
randomSeed        0

notes            Pythia
