##########################################
#sensitivty scan config file
##########################################

#NOTE: don't leave spaces after the parameters

signalModel		Gauss_width5
signalModelLabel	'Gauss_width5'
#signalMasses		550,650,750,850,950,1050,1150,1250,1350,1450
signalMasses		650

luminosityMin		85.0
luminosityMax		85.0

QCDFile      ../inputs/QCD/NLO_CT14_pure_29p7ifb_newErrs.root
patchFile    ../inputs/QCD/patchFile_pureNLO_SWiFTwindow4.root

histBaseName            mjj_Gauss
axisLabel		m_{jj} [GeV]

nFitParameters		4
nPseudoExperiments	100

thresholdMass   531
randomSeed	401

notes       NLO2016plusSig
permitWindowExcl   1
