
##############################################
#                                            #
#  Config file for Bayesian                  #
#                                            #
##############################################

#set all the parameters of your analysis
#IMPORTANT: don't leave spaces after the parameters!

	
##########################################
# input/output
##########################################

# This contains the data spectrum which will be analysed
# Value overwritten if use Run_SearchPhase.py
inputFileName ./inputs/Data15_C_fGRL_JetCalibCorrection_20150721/dataHistograms.PeriodC.root

#inputHistDir Nominal/

# Value overwritten if use Run_SearchPhase.py
dataHist  basicData
# Value overwritten if use Run_SearchPhase.py
##########################################
# input/output for limit setting 
##########################################
dataFileName /lustre/SCRATCH/atlas/ywng/WorkSpace/r21/r21SwiftNew/r21StatisticalAnalysis/source/results/data2017/DijetISRMC/SearchResultData_caseA_window13_doSwift.root
signalFileName /lustre/SCRATCH/atlas/ywng/WorkSpace/r21/r21SwiftNew/r21StatisticalAnalysis/source/inputs/TLASearchAndLimitSetting/dataLikeHists_yStar03/dataLikeHistograms.m1.3_g0.05.root
nominalSignalHist mjj_Scaled_m1.3_g0.05_1fb_Nominal
outputFileName results/data2017/DijetISRMC/Step2_setLimitsOneMassPoint_ZPrime0p05_mZ1300_doSwift.root
plotDirectory results/data2017/DijetISRMC/
plotNameExtension ZPrime
signame     ZPrime

##########################################
# general
##########################################

# Center-of-mass energy of the spectrum studied
# Value overwritten if use Run_SearchPhase.py
Ecm        13000.0 

# Number of pseudoexperiments to run
# in BumpHunter
# Matches 8 TeV paper value
nPseudoExp  100

permitWindow	false

##########################################
# fitting
##########################################

# To use min of data put -1 (Use 1099 so fit starts from bin above, i.e. from 1100 GeV)
minXForFit       300

# use default: maximum of data
maxXForFit       1500

# Number of pseudoexperiments
# to run in fit
nPseudoExpFit    5

# 13 TeV 3 param fit function:
functionCode		1
nParameters 		4

# For Period D 80.4/pb
#parameter1 0.00021675
#parameter2 3.18705
#parameter3 7.11991
#parameter4 0.294323
#yvonne edot
#parameter1 3.1983e-09
#parameter2 -16.4765
#parameter3 10.5867
#parameter4 0.940491
#
#btagged 1 for trijet 
parameter1 26207314.254772406
parameter2 -1.1511443688911367 
parameter3 150.22997233226994
parameter4 -299.94119140038276


# UA2:
doAlternateFunction     false
alternateFunctionCode	1
alternateNParameters	4

# For Period D 80.4/pb
#altparameter1   0.101097
#altparameter2   4.56343
#altparameter3   21.2991
#altparameter4   -28.2191
altparameter1   1.4759
altparameter2   2.16055
altparameter3   53.7048
altparameter4   -155.882


# SWIFT
doSwift true
swift_minXAvailable     300
swift_maxXAvailable     1500
swift_nBinsLeft  10
swift_nBinsRight  10
swift_fixLow  false
swift_fixHigh  false
swift_truncateHigh       true

doPValWithSysts		false

doPEOnData              false

doSideBandFit		false
##########################################
# for limits
##########################################
nSigmas     3.
doExpected    true
nPEForExpected    100



##########################################
# Background
##########################################

doFitError    true
nFitsInBkgError   100
doFitFunctionChoiceError true
doExtendedRange false

##########################################
# Lumi
##########################################

doLumiError       true
# percent lumi error
luminosityErr   0.05

##########################################
# Beam energy systematic
##########################################

doBeam     false
BeamFile          ./inputs/BeamUncertainty/AbsoluteBEAMUncertaintiesForPlotting.root

##########################################
# JES
##########################################
doJES true
useMatrices false
useTemplates true
nominalTemplateJES mjj_Scaled_m1.3_g0.05_1fb_Nominal
nComponentsTemp 5
nameTemp1 mjj_Scaled_m1.3_g0.05_1fb_JET_GroupedNP_1
nameTemp2 mjj_Scaled_m1.3_g0.05_1fb_JET_GroupedNP_2
nameTemp3 mjj_Scaled_m1.3_g0.05_1fb_JET_GroupedNP_3
nameTemp4 mjj_Scaled_m1.3_g0.05_1fb_JET_EtaIntercalibration_NonClosure
nameTemp5 mjj_Scaled_m1.3_g0.05_1fb_JET_TLA_ScaleFactor


##--------------------------------------##
# nJES is number of extensions +1 
nJES      13
extension1        __3down
extension2        __2down5
extension3        __2down
extension4        __1down5
extension5        __1down
extension6        __0down5
extension7        __0up5
extension8        __1up
extension9        __1up5
extension10       __2up
extension11       __2up5
extension12       __3up
